/Makefile
data/
game/
.scons*
*.o
atest
dist/
doc/htmlhelp/
*.exe
*.dll
*.pyc
acer-alithia.bat
atest.dSYM/
.externalToolBuilders/
makexz.sh
report.html
*.xz
*.zip
*.user
prealpha0/
ps/
.runtik/
*.obj
*.smp
*.mk1
*.mk
*.map
*.lk1
*.err
*.sym

