page {
    display: block;
    margin: 1em;
    font-family: sans-serif;
    font-size: 12pt;
    background: #FFFFFF;
}

page>title {
    color: #404840;
    background: #F0F8F0;
    border-bottom: 1px solid #E0E8E0;
    display: block;
    font-size: 32pt;
    padding: 0.2em;
}

pageinfo {
    display: block;
    padding: 0.5em;
    font-size: 13pt;
}

part {
    display: block;
    border-top: 1px dashed #C0C0C0;
    margin-bottom: 2em;
}

part>title {
    color: #608860;
    display: block;
    font-size: 20pt;
}

subpart {
    display: block;
    margin: 0.5em;
    margin-bottom: 1em;
}

subpart>title {
    color: #608860;
    display: block;
    font-size: 18pt;
}

em {
    font-style: italic;
}

s {
    font-weight: bold;
}

ss {
    font-weight: bold;
    font-style: italic;
}

q:before {
    content: "“";
}

q:after {
    content: "”";
}

p {
    display: block;
    margin: 0.5em;
    margin-bottom: 1em;
}

file,dir {
    font-family: monospace;
}

ext:before {
    content: ".";
}

const {
    font-family: monospace;
    size: 80%;
}

func {
    font-family: monospace;
    size: 80%;
    font-style: italic;
}

ext {
    font-family: monospace;
}

githash {
    font-family: monospace;
    color: #A05050;
    font-size: 80%;
}

warn:before
{
    display: block;
    content: "Warning!";
    font-size: 120%;
    color: #501010;
    text-decoration: underline;
    margin-left: -0.5em;
}

warn {
    display: block;
    margin: 0.5em;
    padding: 0.5em;
    padding-left: 1em;
    background: #F0A0A0;
    border: 3px double #FF0000;
}

wip {
    display: block;
    margin: 2em;
    background: #EFEFC0;
    border-top: 5px double black;
    border-bottom: 5px double black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 0.5em;
}

filedesclist {
    display: table;
    margin-left: 1em;
    margin-right: 1em;
    border-top: 1px dotted #B0B0B0;
}

filedesclist>filedescitem {
    display: table-row;
}

filedesclist>filedescitem:hover {
    background: #F0F0F0;
}

filedesclist>filedescitem>files {
    white-space: nowrap;
    display: table-cell;
    vertical-align: top;
    padding-right: 0.5em;
    padding-bottom: 0.15em;
    padding-top: 0.15em;
    border-bottom: 1px dotted #B0B0B0;
}

filedesclist>filedescitem>files>file {
    display: block;
    font-family: monospace;
    font-size: 80%;
    font-weight: bold;
}

filedesclist>filedescitem>files>dir {
    display: block;
    font-family: monospace;
    font-size: 80%;
    font-weight: bold;
    font-style: italic;
}

filedesclist>filedescitem>files>dir:after {
    color: #A05050;
    content: "/";
}

filedesclist>filedescitem>desc {
    vertical-align: top;
    display: table-cell;
    padding-left: 0.5em;
    border-bottom: 1px dotted #B0B0B0;
}

